*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* background-color: rgb(230, 56, 85); */
}

.container{
    background-color: rgb(255, 255, 255, 0.9);
    padding: 70px 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    /* border-radius: 20px; */
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
}

.search-wrapper button{
    font-size: 20px;
    background-color: rgb(59, 57, 57);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.search-wrapper input{
    font-size: 20px;
    padding: 12px;
    background-color: rgb(255, 255, 255, 0.9);
    border: none;
    border-bottom: 2px solid rgb(59, 57, 57);
    outline: none;
    color: #222a43;
}

.container .flag-img{
    display: block;
    width: 55%;
    min-width: 7.5em;
    margin: 25px auto;
}

.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.data-wrapper{
    margin-bottom: 20px;
    letter-spacing: 0.3px;
}

.container h4{
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span{
    color: #435589;
}

.container h3{
    text-align: center;
}

@media screen and (max-width: 960px) {
    .search-wrapper{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 3fr 1fr;
        gap: 5px;
        justify-content: center;
    }
    .container{
        background-color: rgb(247, 242, 242, 1);
        padding: 50px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        border-radius: 20px;
    }
    
    .search-wrapper button{
        font-size: 7px;
        background-color: rgb(59, 57, 57);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    
    }
    
    .search-wrapper input{
        /* width: 40px; */
        width: 50%;
        font-size: 10px;
        padding: 2px;
        border: none;
        border-bottom: 2px solid rgb(59, 57, 57);
        outline: none;
        color: #222a43;
    }

    .container .flag-img{
        display: block;
        width: 35%;
        min-width: 7.5em;
        margin: 25px auto;
    }
  }